.about-component{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	margin: 1rem auto 2rem;
	max-width: 62rem;
	min-width: 22rem;
	border: 0.09rem solid rgb(247, 247, 247);
	border-radius: 0.3rem;
	background-color: rgb(252, 252, 252);
}

.about-component span{
	padding-left:0.3rem;
}

.about-component ul{
	list-style-type: none;
	padding: 0;
	border: 0;
	margin: 0;
}

.about-component ul li{
	display: inline-block;
}

.about-component ul li a,
.real-estate-component a{
	text-decoration:none;
	color: rgb(37, 15, 37);
	padding: 0.3rem;
	/*make each anchor display inline-block so parent registers the padding around the a*/
	display:inline-block;
	background-repeat: no-repeat;
	-webkit-background-size: 0% 100%;
	background-size: 0% 100%;
	background-image: -webkit-linear-gradient(180deg,transparent 0%, rgb(6, 72, 0) 0%); /*Safari 5.1-6*/
	background-image: -o-linear-gradient(180deg,transparent 0%, rgb(6, 72, 0) 0%); /*Opera 11.1-12*/
	background-image: -moz-linear-gradient(180deg,transparent 0%, rgb(6, 72, 0) 0%); /*Fx 3.6-15*/
	background-image: linear-gradient(180deg,transparent 0%, rgb(6, 72, 0) 0%);
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	transition: all 0.25s ease 0s;
}

.about-component ul li a:hover,
.real-estate-component a:hover{
	color: white;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}