html{
	font-size:16px;
	font-family: "Helvetica", 'Helvetica Neue', Arial, sans-serif;
    color: black;
}

body{
	padding:0;
	border:0;
	margin:0;
}

.capitalize{
	text-transform: capitalize;
}

/*https://www.w3schools.com/Css/css_dropdowns.asp
https://www.w3schools.com/Css/tryit.asp?filename=trycss_dropdown_text*/
.dropdown{
	cursor: pointer;
}

.dropdown:hover{
	/*	only want the dropdown trigger to be position relative on hover, so then this trigger element does not cover up adjacent elements' box shadows.*/
	position:relative;
}

.dropdown-content{
	/*content hidden by default*/
	/*display: none;*/
	/*except if want the dropdown-content to appear gradually, must make it always be display block instead*/
	display:block;
	position: absolute;
	/*left 0 so left side of dropdown-content aligns with left side of dropdown*/
	left: 0;
	top: 1.2rem;
	opacity:0;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.dropdown:hover .dropdown-content{
/*	display: block;
*/	opacity: 0.8;
	/*top:30px because dropdown is 30px height*/
	/*top:30px;*/
}

.dropdown:hover a{
	display:inline-block;
}

.dropdown-content a{
	/*since dropdown-content is always display block to enable the transition, must make the a elements within only display inline-block upon dropdown hover*/
	display: none;
	cursor: pointer;
	text-decoration: none;
	border-radius:0;
	width:150px;
	padding: 5px 8px;
	color: rgb(15, 15, 15);
	/*border-top: 1px solid purple;*/
	background-color: rgb(235, 235, 235);
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.dropdown-content a:last-child{
	border-radius: 0 0 35% 0;
}

.dropdown-content a:hover{
	color:rgb(235, 235, 235);
	background-color:rgb(15, 15, 15);
}

/*https://www.w3schools.com/howto/howto_css_tooltip.asp
https://www.w3schools.com/css/css_tooltip.asp*/
.tooltiptext{
    visibility: hidden;
    width: 8rem;
    background-color: #555;
    color: #fff;
    font-size:0.9rem;
    text-align: center;
    padding: 0.3rem;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    /*top: 125%;*/
    left: 50%;
    /*margin-left should be 1/2 the width from above*/
    margin-left: -4rem;

    /* Fade in tooltip */
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.ttt-large{
	width:10rem;
	margin-left: -5rem;
}

.ttt-bottom{
	top: 125%;
}

.ttt-top{
	bottom: 125%;
}

/* Tooltip arrows */
.tooltiptext::after {
    content: "";
    position: absolute;
    margin-left: -0.35rem;
    border-width: 0.35rem;
    border-style: solid;
}

.ttt-top::after {
	top: 100%;
    left: 50%;
    border-color: #555 transparent transparent transparent;
}

.ttt-bottom::after {
	bottom: 100%;
    left: 50%;
    border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.ttt-container:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}

.ttt-container{
	/*need position relative for the container so ttt can be positioned absolutely*/
	position: relative;
}


/*@media screen and (max-width:480px) and (orientation:landscape OR portrait){
}*/

@media screen and (max-width:480px){
	html {
		font-size:10px;
		color: rgb(35, 25, 35);
	}
}