header nav{
	display:inline-block;
    /*need line-height, vertical-align and padding to match #primary-name*/
    line-height: 2rem;
    /*vertical-align: top;*/
    padding: 0.5rem;
}
header nav ul{
	list-style-type: none;
	padding: 0;
	border: 0;
	margin: 0;
}

header nav ul li{
	display:inline-block;
    line-height:initial;
}

header nav ul li a{
	text-decoration: none;
    padding: 0 0.45rem;
    color: rgba(15, 5, 15, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius:5px;
    display: inline-block;
    -webkit-transition: all 0.35s ease 0s; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s;
}

header nav ul li a:hover, .current-page{
    background-color: rgba(35, 25, 35, 0.9);
    color: rgba(255, 255, 255, 0.9);
    /*position relative means when this is hovered, the box shadow will appear on top of nearby elements*/
    position:relative;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(80, 80, 80, 0.5);
}

header nav ul li .current-page{
    padding: 0.2rem 0.65rem;
    background-color: rgba(35, 25, 35, 0.9);
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(70, 70, 70, 0.65);
}

header nav ul li a:active{
    background-color: lime
}