.ipc-analysis-container{
	display: inline-block;
	vertical-align: top;
	width:60%;
}

.ipc-analysis-container .cap-rate-cont .green{
	color:lime;
}

.ipc-analysis-container .cap-rate-cont .red{
	color:red;
}