.ipc-form-ad{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
    background-color: rgba(255, 255, 255, 0.65); /* white w/ opacity */
}

.ipc-form-ad.open{
    display: block;
}

.test-content{
    -webkit-transition: all 0.35s ease 0s; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s;
}

.ipc-form-ad .cover{
    box-sizing: border-box;
    position: relative;
    /*top: 50%;
    transform: translateY(-50%);*/
    padding: 1rem;
    margin:2.5rem auto;
    width: 50%;
    max-width:35rem;
    min-width:21.5rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 0.08rem solid rgba(170, 170, 170, 0.85);
/*    removed overflow auto so close X could appear outside the modal content
*/    /*overflow: auto;*/
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2),0 0.375rem 1.25rem 0 rgba(0,0,0,0.19);
}

.ipc-form-ad .cover .content{

}

.ipc-form-ad .cover .content .main-title{
    font-size:1.1rem;
    text-align:center;
    background-image: -webkit-linear-gradient(165deg,rgb(128, 0, 128), rgb(35, 150, 24) 83%); /*Safari 5.1-6*/
    background-image: -o-linear-gradient(165deg,rgb(128, 0, 128), rgb(35, 150, 24) 83%); /*Opera 11.1-12*/
    background-image: -moz-linear-gradient(165deg,rgb(128, 0, 128), rgb(35, 150, 24) 83%); /*Fx 3.6-15*/
    background-image: linear-gradient(165deg,rgb(128, 0, 128), rgb(35, 150, 24) 83%);
/*    background-image: linear-gradient(to right, green, yellow, black 65%, gold); */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.ipc-form-ad .cover .content .main-title p{
    /*text-shadow: 0 0 0.1rem rgba(181, 181, 181, 0.9);*/
}


.ipc-form-ad .display-ipcform{
    -webkit-animation: showipcform 0.35s ease-in-out 0s;
    animation: showipcform 0.35s ease-in-out 0s;
}

/* Safari and Chrome */
@-webkit-keyframes showipcform {
    from {top:-50%; opacity:0;} 
    to {top:0; opacity:1;}
}

/* Firefox */
@-moz-keyframes showipcform {
    0% {top:-50%; opacity:0;} 
    100% {top:0; opacity:1;}
}

/* Internet Explorer */
@-ms-keyframes showipcform {
    0% {top:-50%; opacity:0;} 
    100% {top:0; opacity:1;}
}

/* Opera */
@-o-keyframes showipcform {
    0% {top:-50%; opacity:0;} 
    100% {top:0; opacity:1;}
}

@keyframes showipcform {
    0% {top:-50%; opacity:0;} 
    100% {top:0; opacity:1;}
}

.ipc-form-ad .remove-ipcform{
    -webkit-animation: animateupipcform 0.35s ease-in-out 0s;
    animation: animateupipcform 0.35s ease-in-out 0s;
}

/* Safari and Chrome */
@-webkit-keyframes animateupipcform {
    0% {top:0%; opacity:1;}
    15% {top:15%;}
    100% {top:-50%; opacity:0;} 
}

/* Firefox */
@-moz-keyframes animateupipcform {
    0% {top:0%; opacity:1;}
    15% {top:15%;}
    100% {top:-50%; opacity:0;} 
}

/* Internet Explorer */
@-ms-keyframes animateupipcform {
    0% {top:0%; opacity:1;}
    15% {top:15%;}
    100% {top:-50%; opacity:0;} 
}

/* Opera */
@-o-keyframes animateupipcform {
    0% {top:0%; opacity:1;}
    15% {top:15%;}
    100% {top:-50%; opacity:0;} 
}

@keyframes animateupipcform {
    0% {top:0%; opacity:1;}
    15% {top:15%;}
    100% {top:-50%; opacity:0;} 
}

.ipc-form-ad .cover .content .form-container{
    padding:1.35rem;
}

.ipc-form-ad .cover .content .form-container .main-section{
    box-sizing:border-box;
    width:100%;
    border: 0.2rem solid rgb(65, 205, 32);
    border-radius:0.5rem;
    margin-bottom: 1rem;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-header{
    background-color: rgb(65, 205, 32);
    color: rgb(255, 255, 255);
    text-align: center;
    padding:0.55rem;
    position:relative;
    cursor: default;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-header .title{
    margin: 0.75rem;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-header .fa-chevron-up{
    position: absolute;
    right: 1rem;
    cursor: pointer;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-header .fai-up-rotated{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    color: black;
    font-size: 1.5rem;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body{
    background-color: rgb(250, 250, 250);
    padding:0.55rem;
    border-radius:0 0 0.5rem 0.5rem;
    max-height:220px;
    opacity: 1;
    -webkit-transition: all 0.35s ease 0s;
    -moz-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body.height1{
    max-height: 90px;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body.height2{
    max-height: 450px;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body.height3{
    max-height: 850px;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body.height4{
    max-height: 1100px;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body.height5{
    max-height: 2000px;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body.closed{
    max-height: 0;
    opacity: 0;
    padding: 0;
    overflow: hidden;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .wl-text{
    cursor: pointer;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .wl-text span{
    margin-left: 0.8rem;
}

.ipc-form-ad .cover .content .form-container .main-section:hover .ms-body, .wl-text{
    background-color: rgb(239, 239, 239);
}

.ipc-form-ad .cover .content .form-container .main-section:hover .word-line-centered .wl-text{
    background-color: rgb(239, 239, 239);
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .wl-text .fa-plus{
    margin: 0 0.8rem;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .wl-text:hover .fa-plus{
    color:lime;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs{
    position: relative;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .name-container{
    width: 30%;
    display: inline-block;
    vertical-align:top;
    background-color: transparent;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .name-container input{
    width: 100%;
    padding: 0;
    border: 0;
    background-color:transparent;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .inputs-container{
    width: 70%;
    display: inline-block;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .inputs-container .input-label{
    width: 50%;
    display: inline-block;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .inputs-container .input-label .label-section label{
    /*enables user to click entire length of label to highlight input field*/
    display:block;
    font-size:0.75rem;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .inputs-container .input-label .input-section{
    color: black;
    background-color: rgb(255, 255, 255);
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .inputs-container .input-label .input-section input{
    display:block;
    box-sizing: border-box;
    width:100%;
    padding: 0.15rem;
    border:none;
    color: rgb(35, 35, 35);
    background-color: rgb(255, 255, 255);
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .inputs-container .input-label .input-section span{
    display: inline-block;
}

/* The Close Button */
.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .close,
.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .close{
    position: absolute;
    color: white;
    font-size: 1.1rem;
/*  font-weight: bold;
*/  width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    right: -0.425rem;
    top: -0.425rem;
    text-align: center;
    border: 0.1rem solid white;
    border-radius: 0.65rem;
    box-shadow: 0px 0px 0.15rem 0.15rem rgba(73, 62, 71, 0.65);
    background-color: rgba(79, 0, 79, 0.7);
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .close:hover,
.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .close:focus {
    color: rgb(79, 0, 79);
    background-color: rgb(255, 255, 255);
    border-color: rgb(79, 0, 79);
    box-shadow: 0px 0px 0.2rem 0.2rem rgba(73, 62, 71, 0.65);
    text-decoration: none;
    cursor: pointer;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .close:active{
    background-color: rgba(79, 0, 79, 0.5);
}
/* END of The Close Button */

.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .fa-question-circle-o{
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .fa-question-circle-o:hover,
.ipc-form-ad .cover .content .form-container .main-section .ms-body .name-inputs .fa-question-selected{
    color: rgb(8, 190, 8);
}





/*what to do:
reformat input / label divs (number inputs should be smaller)
-make items around the input a label
correct objects changed when assumptions / financing terms inputs are changed
create "basic button"
prettify protected classes in RE component*/