.search-form-1{
	font-size:15px;
	display: inline-block;
	font-size: 13px;
	width: 50%;
	min-width: 250px;
	box-sizing: border-box;
	vertical-align: top;
	border-radius: 5px;
	color: black;
	display: block;
	margin: 0 auto;
	-webkit-transition: all 0.5s ease 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.search-form-1:hover{
	background-color: rgba(250, 250, 250, 1);
}

.search-form-1 form{
	padding:10px 0;
}

.no-results-mes{
	color: purple;
	font-weight: 600;
	font-style: italic;
	display: block;
	margin: 5px auto;
	text-align:center;
}

.no-results-mes-top{
	font-size:15px;
	color:purple;
	text-align:center;
	display:block;
	margin: 5px auto;
	-webkit-animation: greenblink 3s ease 0s infinite; /* Safari and Chrome */
    -moz-animation: greenblink 3s ease 0s infinite; /* Firefox */
    -ms-animation: greenblink 3s ease 0s infinite; /* Internet Explorer */
    -o-animation: greenblink 3s ease 0s infinite; /* Opera */
    animation: greenblink 3s ease 0s infinite;
}


/* Safari and Chrome */
@-webkit-keyframes greenblink {
    50% {color:lime;}
}

/* Firefox */
@-moz-keyframes greenblink {
	50% {color:lime;}
}

/* Internet Explorer */
@-ms-keyframes greenblink {
	50% {color:lime;}
}

/* Opera */
@-o-keyframes greenblink {
    50% {color:lime;}
}

@keyframes greenblink {
	50% {color:lime;}
}

.sf-content{
	margin-bottom: 10px;
}

.sf-content input{
	display: block;
	margin: 0 auto;
	width: 90%;
	border-radius: 7px;
	font-size: 16px;
	padding: 5px;
	border: 1px solid rgba(235, 215, 235, 1);
	-webkit-transition: all 0.35s ease 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 0.35s ease 0s;
	transition: all 0.35s ease 0s;
}

.sf-content input:focus, select:focus{
	outline: none;
	box-shadow: 0 0 5px 2px rgba(82, 195, 29, 0.7);
    background-color: rgba(255, 255, 255, 1);
}

.sf-content input:hover, select:hover{
	background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 8px 3px rgba(127, 0, 127,0.7);
}

/*http://stackoverflow.com/questions/2920306/google-chrome-form-autofill-and-its-yellow-background*/
input:-webkit-autofill,textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset !important;
}

.sf-content label{
	display: block;
	margin: 0 auto;
	width: 90%;
	font-size:12px;
}

.sf-content .form-group{
	margin-bottom: 7px;
}

.sf-content .form-group .val-mes{
	background-color:red;
	color:white;
	padding:0.2rem;
	border-radius: 5px;
}

.sf-content select{
	display: block;
	margin: 0 auto;
	width: 95%;
}

.sf-content button {
	color: rgb(255, 255, 255);
    background-color: rgb(59, 3, 79);
    background: linear-gradient(top, #6496c8, #346392);
    border: none;
    border-radius: 8px;
    width: 65%;
    display: block;
    margin: 0 auto;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    outline: none;
    -webkit-transition: all 0.2s ease 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.sf-content button:hover{
	box-shadow: 0 5px 9px rgb(110, 95, 107);
}

.sf-content button:active{
	box-shadow: inset 0 0 0 1px rgb(59, 3, 79), inset 0 5px 30px rgb(250, 250, 250);
}