.ipc-component{
	position: relative;
}

.form-and-analysis{
	/*this must be same as margin-top of 2rem plus total height (5rem * 2) (but not including border) of the box-sizing: border box and relatively positioned ipcothertermsbox*/
	/*margin-top: -12rem;*/
}

.ipc-form-container{
	display:inline-block;
	width: 35%;
	min-width: 17.875rem;
	margin-right:5%;
	margin-bottom:1.5rem;
	/*border-box = The width and height properties (and min/max properties) includes content, padding and border, but not the margin*/
	box-sizing: border-box;
	border-radius: 0.35rem;
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 0.89);
	-webkit-transition: all 0.5s ease 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.ipc-form-container:hover{
	background-color: rgba(250, 250, 250, 0.95);
}

.ipc-form-container form{
	padding: 0.7rem 0.5rem;
}

.ipc-form-container form .content .content-section .subtitle-container{
	position: relative;
}

.ipc-form-container form .content .content-section .subtitle{
	display: inline-block;
	width: 65%;
	color: rgba(255, 255, 255, 0.95);
	font-size:0.95rem;
	padding: 0.25rem;
	padding-left: 0.5rem;
	/*border-radius: 0 35% 35% 0;*/
	border-radius: 0.35rem 0 0 0.35rem;
	/*The angle is specified as an angle between a horizontal line and the gradient line.*/
	background: rgba(83, 11, 110, 0.9); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(90deg, rgba(83, 11, 110, 0.9), rgba(255, 255, 255, 0)); /*Safari 5.1-6*/
	background: -o-linear-gradient(90deg, rgba(83, 11, 110, 0.9), rgba(255, 255, 255, 0)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(90deg, rgba(83, 11, 110, 0.9), rgba(255, 255, 255, 0)); /*Fx 3.6-15*/
	background: linear-gradient(90deg, rgba(83, 11, 110, 0.9), rgba(255, 255, 255, 0)); /*Standard*/
}

.ipc-form-container form .content .content-section .fai-add-more{
	position: absolute;
	right:0;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 0.35rem;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.ipc-form-container form .content .content-section .fai-add-more:hover{
	font-size:1.25rem;
	color:lime;
}

.ipc-form-container form .content .content-section .form-group-container{
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.ipc-form-container form .content .content-section .form-group-container .form-group{
	vertical-align:top;
	position: relative;
	width:47%;
	max-width: 22rem;
	display:inline-block;
	margin-right:3%;
	margin-bottom: 0.37rem;
	border-radius:0.3rem;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.ipc-form-container form .content .content-section .form-group-container .form-group:hover{
	background-color: rgba(95, 233, 30, 0.85);
}

/* The Close Button */
.ipc-form-container form .content .content-section .form-group-container .form-group .close{
	position: absolute;
	color: white;
	font-size: 1.1rem;
/*	font-weight: bold;
*/	width: 1.1rem;
	height: 1.1rem;
	line-height: 1.1rem;
	right: -0.425rem;
	top: -0.425rem;
	text-align: center;
	border: 0.1rem solid white;
	border-radius: 0.65rem;
	box-shadow: 0px 0px 0.15rem 0.15rem rgba(73, 62, 71, 0.65);
	background-color: rgba(79, 0, 79, 0.7);
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.ipc-form-container form .content .content-section .form-group-container .form-group .close:hover,
.ipc-form-container form .content .content-section .form-group-container .form-group .close:focus {
    color: rgb(79, 0, 79);
    background-color: rgb(255, 255, 255);
    border-color: rgb(79, 0, 79);
    box-shadow: 0px 0px 0.2rem 0.2rem rgba(73, 62, 71, 0.65);
    text-decoration: none;
    cursor: pointer;
}

.ipc-form-container form .content .content-section .form-group-container .form-group .close:active{
	background-color: rgba(79, 0, 79, 0.5);
}

.ipc-form-container form .content .content-section .form-group-container .form-group .minimize-div, .open-div{
	width:100%;
	border-radius: 0.3rem 0.3rem 0 0;
	height: 1.25rem;
	/*this horizontally centers the icon inside*/
	text-align:center;
	background-color: rgba(235, 235, 235, 0.2);
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.ipc-form-container form .content .content-section .form-group-container .form-group .minimize-div:hover{
	color: rgb(245, 245, 245);
	background-color: rgb(85, 85, 85);
}

.ipc-form-container form .content .content-section .form-group-container .form-group .open-div{
	color: rgb(245, 245, 245);
	background-color: rgb(85, 85, 85);
	border-radius: 0.3rem;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.ipc-form-container form .content .content-section .form-group-container .form-group .open-div:hover{
	background-color: rgb(95, 233, 30);
}

.ipc-form-container form .content .content-section .form-group-container .form-group .fai-up{
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.ipc-form-container form .content .content-section .form-group-container .form-group .fai-up-rotated{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    -webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}






.ipc-form-container form .content .content-section .inputs-container{
	-webkit-transition: all 0.35s ease 0s;
	-moz-transition: all 0.35s ease 0s;
	transition: all 0.35s ease 0s;
}

.ipc-form-container form .content .content-section .closed{
	height:0;
	display:none;
}

.ipc-form-container form .content .content-section .inputs-container input{
	display:block;
	box-sizing: border-box;
	font-size:0.8rem;
	padding: 0.3rem;
	border:none;
	border-bottom: 0.08rem solid rgba(35, 15, 35, 0.5);
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 1);
	-webkit-transition: all 0.35s ease 0s;
	-moz-transition: all 0.35s ease 0s;
	transition: all 0.35s ease 0s;
}

.ipc-form-container form .content .content-section .inputs-container .label-span{
	font-size:0.67rem;
}

.ipc-form-container form .content .content-section .inputs-container .section-name,
.ipc-form-container form .content .content-section .inputs-container .main-svw{
	margin: 0.11rem 0;

}

.ipc-form-container form .content .content-section .inputs-container .section-name .name-input-container input{
	width:100%;
}

.ipc-form-container form .content .content-section .inputs-container .input-label-container{
	display:inline-block;
	box-sizing: border-box;
	width:50%;
	vertical-align: top;
}

.ipc-form-container form .content .content-section .inputs-container .section-value-wrapper{
	width:100%;
	background-color: white;
	border-bottom: 0.08rem solid rgba(35, 15, 35, 0.5);
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.ipc-form-container form .content .content-section .inputs-container .section-value-wrapper .contents{
	display:inline-block;
}

.ipc-form-container form .content .content-section .inputs-container .section-value-wrapper .input-container{
	display:inline-block;
	width:80%;
}

.ipc-form-container form .content .content-section .inputs-container .section-value-wrapper input{
	border:none;
	width:100%;
}

.ipc-form-container form .content .content-section .inputs-container .svw-highlighted{
	box-shadow: 0 0 0.25rem 0.1rem rgba(82, 195, 29, 0.9);
}









/*
.ipc-form-container form .content input:focus, select:focus{
	outline: none;
	box-shadow: 0 0 5px 2px rgba(82, 195, 29, 0.7);
    background-color: rgba(255, 255, 255, 1);
}

.ipc-form-container form .content input:hover, select:hover{
	background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 8px 3px rgba(127, 0, 127,0.7);
}
*/


.ipc-form-container form .content select{
	display: block;
	margin: 0 auto;
	width: 95%;
}

.ipc-form-container form .content button {
	color: rgb(255, 255, 255);
    background-color: rgb(59, 3, 79);
    background: linear-gradient(top, #6496c8, #346392);
    border: none;
    border-radius: 8px;
    width: 65%;
    display: block;
    margin: 0 auto;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    outline: none;
    -webkit-transition: all 0.2s ease 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.ipc-form-container form .content button:hover{
	box-shadow: 0 5px 9px rgb(110, 95, 107);
}

.ipc-form-container form .content button:active{
	box-shadow: inset 0 0 0 1px rgb(59, 3, 79), inset 0 5px 30px rgb(250, 250, 250);
}

.no-results-mes{
	color: purple;
	font-weight: 600;
	font-style: italic;
	display: block;
	margin: 5px auto;
	text-align:center;
}

.no-results-mes-top{
	font-size:15px;
	color:purple;
	text-align:center;
	display:block;
	margin: 5px auto;
	-webkit-animation: greenblink 3s ease 0s infinite; /* Safari and Chrome */
    -moz-animation: greenblink 3s ease 0s infinite; /* Firefox */
    -ms-animation: greenblink 3s ease 0s infinite; /* Internet Explorer */
    -o-animation: greenblink 3s ease 0s infinite; /* Opera */
    animation: greenblink 3s ease 0s infinite;
}


/* Safari and Chrome */
@-webkit-keyframes greenblink {
    50% {color:lime;}
}

/* Firefox */
@-moz-keyframes greenblink {
	50% {color:lime;}
}

/* Internet Explorer */
@-ms-keyframes greenblink {
	50% {color:lime;}
}

/* Opera */
@-o-keyframes greenblink {
    50% {color:lime;}
}

@keyframes greenblink {
	50% {color:lime;}
}