.ipc-component .ipc-other-terms{
	position: sticky;
	width: 2.5%;
	top: 2rem;
	text-align:center;
	margin-top:2rem;
	z-index:2;
	cursor: pointer;
}

.ipc-component .ipc-other-terms .term-container{
	position:relative;
	background-color: rgba(100, 100, 100, 0.9);
	color:white;
	box-sizing: border-box;
	min-width:1.25rem;
	height:5rem;
	border-radius: 0 0.5rem 0.5rem 0;
	border: 0.05rem solid black;
	-webkit-transition: all 0.3s ease 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	/*transform: rotate(270deg);
	transform: rotate(270deg) translateX(-50%) translateY(0%);
	-ms-transform: rotate(45deg); /* IE 9
    -ms-transform-origin: 20% 40%; /* IE 9 
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera 
    -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera 
    transform: rotate(-90deg) translateY(-100%);
    transform-origin: 100% 100%;*/
}

.ipc-component .ipc-other-terms .term-container:hover{
	color: rgb(100, 100, 100);
	background-color: rgb(251, 251, 251);
}

.ipc-component .ipc-other-terms .term-container i{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.ipc-component .ipc-other-terms .term-container .show-inputs{
	height:100%;
}

.ipc-component .ipc-other-terms .term-container .show-inputs:hover{
	position:relative;
}

.ipc-component .ipc-other-terms .term-container .terms-form-container{
	position:absolute;
	width:15rem;
	top: 0;
	left: -15rem;
	opacity:0;
	z-index:2;
	border: 0.15rem solid black;
	padding: 0.7rem 0.35rem;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.ipc-component .ipc-other-terms .term-container .show-inputs:hover .terms-form-container{
	opacity:0.9;
	left:0;
	background-color:black;
}

