#primary-name{
	font-family: 'Georgia', Times, "Times New Roman", serif;
	letter-spacing: 0.3rem;
	display: inline-block;
	padding: 0.3rem;
	cursor: default;
}

#primary-name .letter{
	color: rgba(35, 35, 35, 0.9);
	text-shadow: 0 0 2px rgba(235, 235, 235, 0.8), 0 0 3.5px rgba(190, 190, 190, 0.8);
	-webkit-transition: all 0.2s ease 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	-webkit-animation: fadeinletter 2s linear 0s;
	animation: fadeinletter 2s linear 0s;
}

#primary-name .letter:hover{
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 0 1px rgba(35, 35, 35, 0.95);
}

/* Safari and Chrome */
@-webkit-keyframes fadeinletter {
    0% { opacity: 0; }
	100% { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadeinletter {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeinletter {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* Opera */
@-o-keyframes fadeinletter {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeinletter {
	0% { opacity: 0; }
	100% { opacity: 1; }
}