.real-estate-component{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	margin: 1rem auto;
	padding: 0.5rem;
	max-width: 62rem;
	min-width: 22rem;
	border: 0.09rem solid rgb(252, 252, 252);
	border-radius: 0.3rem;
	background-color: rgb(254, 254, 254);
	/*overflow auto for the clearfix of the floated children*/
	overflow: hidden;
}

.real-estate-component a{
	display:block;
}

.real-estate-component .services{
	text-align:center;
	-webkit-transition: all 2.5s ease 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 2.5s ease 0s;
	transition: all 2.5s ease 0s;
}

.real-estate-component .services .services-container span{
	display: block;
}

.real-estate-component .services .adj{
	position:relative;
	overflow:hidden;
	-webkit-transition-timing-function: linear; /* Safari and Chrome */
    transition-timing-function: linear;
}

.real-estate-component .display-list-component{
	display:inline-block;
	vertical-align:top;
}

.real-estate-component .display-list-component .scale-in{
	-webkit-animation: projscalein 2.5s ease 0s; /* Safari and Chrome */
    -moz-animation: projscalein 2.5s ease 0s; /* Firefox */
    -ms-animation: projscalein 2.5s ease 0s; /* Internet Explorer */
    -o-animation: projscalein 2.5s ease 0s; /* Opera */
    animation: projscalein 2.5s ease 0s;
}

.real-estate-component .services .re-adj-rotatein{
    -webkit-animation: rotatein 1.5s ease 0s; /* Safari and Chrome */
    -moz-animation: rotatein 1.5s ease 0s; /* Firefox */
    -ms-animation: rotatein 1.5s ease 0s; /* Internet Explorer */
    -o-animation: rotatein 1.5s ease 0s; /* Opera */
    animation: rotatein 1.5s ease 0s;
}

/* Safari and Chrome */
@-webkit-keyframes rotatein {
	0% {
		-webkit-transform:rotateX(180deg) scale(0.8);
		top:0;
	}
	50% {
		-webkit-transform:rotateX(90deg) scale(0.9);
		top:-100px;
		box-shadow: 2px 2px 1px black;
	}
    100% {
    	-webkit-transform:rotateX(0deg) scale(1);
    	top: 0;
    	box-shadow: 7px 8px 5px black;
    }
}

/* Firefox */
@-moz-keyframes rotatein {
	0% {
		transform:rotateX(180deg) scale(0.8);
		top:0;
		box-shadow: 2px 2px 1px black;
	}
	50% {
		transform:rotateX(90deg) scale(0.9);
		top:-100px;
		box-shadow: 2px 2px 1px black;
	}
    100% {
    	transform:rotateX(0deg) scale(1);
    	top: 0;
    	box-shadow: 7px 8px 5px black;
    }
}

/* Internet Explorer */
@-ms-keyframes rotatein {
	0% {
		-ms-transform:rotateX(180deg) scale(0.8);
		top:0;
		box-shadow: 2px 2px 1px black;
	}
	50% {
		-ms-transform:rotateX(90deg) scale(0.9);
		top:-100px;
		box-shadow: 2px 2px 1px black;
	}
    100% {
    	-ms-transform:rotateX(0deg) scale(1);
    	top: 0;
    	box-shadow: 7px 8px 5px black;
    }
}

/* Opera */
@-o-keyframes rotatein {
    0% {
		transform:rotateX(180deg) scale(0.8);
		top:0;
		box-shadow: 2px 2px 1px black;
	}
	50% {
		transform:rotateX(90deg) scale(0.9);
		top:-100px;
		box-shadow: 2px 2px 1px black;
	}
    100% {
    	transform:rotateX(0deg) scale(1);
    	top: 0;
    	box-shadow: 7px 8px 5px black;
    }
}

@keyframes rotatein {
	0% {
		transform:rotateX(180deg) scale(0.8);
		top:0;
		background-color: rgb(150, 150, 150);
	}
	50% {
		transform:rotateX(90deg) scale(0.9);
		top:-100px;
		box-shadow: 2px 2px 1px black;
		background-color: rgb(50, 50, 50);
	}
    100% {
    	transform:rotateX(0deg) scale(1);
    	top: 0;
    	box-shadow: 7px 8px 5px black;
    	background-color: purple;
    }
}

.real-estate-component .services .re-adj-rotateout{
    -webkit-animation: rotateout 1.5s ease 0s; /* Safari and Chrome */
    -moz-animation: rotateout 1.5s ease 0s; /* Firefox */
    -ms-animation: rotateout 1.5s ease 0s; /* Internet Explorer */
    -o-animation: rotateout 1.5s ease 0s; /* Opera */
    animation: rotateout 1.5s ease 0s;
}

/* Safari and Chrome */
@-webkit-keyframes rotateout {
	0% {
		-webkit-transform:rotateX(0deg) scale(1);
		top:0;
		box-shadow: 7px 8px 5px black;
    	background-color: purple;
	}
	50% {
		-webkit-transform:rotateX(90deg) scale(0.9);
		top:100px;
		box-shadow: 2px 2px 1px black;
		background-color: rgb(50, 50, 50);
	}
    100% {
    	-webkit-transform:rotateX(-180deg) scale(0.8);
    	top: 0;
    	background-color: rgb(150, 150, 150);
    }
}

/* Firefox */
@-moz-keyframes rotateout {
	0% {
    	transform:rotateX(0deg) scale(1);
    	top: 0;
    	box-shadow: 7px 8px 5px black;
    	background-color: purple;
    }
    50% {
		transform:rotateX(-90deg) scale(0.9);
		top:100px;
		box-shadow: 2px 2px 1px black;
		background-color: rgb(50, 50, 50);
	}
	100% {
		transform:rotateX(-180deg) scale(0.8);
		top:0;
		background-color: rgb(150, 150, 150);
	}
}

/* Internet Explorer */
@-ms-keyframes rotateout {
	0% {
		-ms-transform:rotateX(0deg) scale(1);
		top:0;
		box-shadow: 2px 2px 1px black;
		background-color: purple;
	}
	50% {
		-ms-transform:rotateX(-90deg) scale(0.9);
		top:100px;
		box-shadow: 2px 2px 1px black;
		background-color: rgb(50, 50, 50);
	}
    100% {
    	-ms-transform:rotateX(-180deg) scale(0.8);
    	top: 0;
    	background-color: rgb(150, 150, 150);
    }
}

/* Opera */
@-o-keyframes rotateout {
    0% {
    	transform:rotateX(0deg) scale(1);
    	top: 0;
    	box-shadow: 7px 8px 5px black;
    	background-color: purple;
    }
    50% {
		transform:rotateX(-90deg) scale(0.9);
		top:100px;
		box-shadow: 2px 2px 1px black;
		background-color: rgb(50, 50, 50);
	}
	100% {
		transform:rotateX(-180deg) scale(0.8);
		top:0;
		background-color: rgb(150, 150, 150);
	}
}

@keyframes rotateout {
    0% {
    	transform:rotateX(0deg) scale(1);
    	top: 0;
    	box-shadow: 7px 8px 5px black;
    	background-color: purple;
    }
    50% {
		transform:rotateX(-90deg) scale(0.9);
		top:100px;
		box-shadow: 2px 2px 1px black;
		background-color: rgb(50, 50, 50);
	}
	100% {
		transform:rotateX(-180deg) scale(0.8);
		top:0;
		background-color: rgb(150, 150, 150);
	}
}

.real-estate-component .services .re-adj-flip{
    -webkit-animation: reflip 5s ease 0s; /* Safari and Chrome */
    -moz-animation: reflip 5s ease 0s; /* Firefox */
    -ms-animation: reflip 5s ease 0s; /* Internet Explorer */
    -o-animation: reflip 5s ease 0s; /* Opera */
    animation: reflip 5s ease 0s;
}

.real-estate-component .services .re-adj-flip2{
    -webkit-animation: refliptwo 5s ease 0s; /* Safari and Chrome */
    -moz-animation: refliptwo 5s ease 0s; /* Firefox */
    -ms-animation: refliptwo 5s ease 0s; /* Internet Explorer */
    -o-animation: refliptwo 5s ease 0s; /* Opera */
    animation: refliptwo 5s ease 0s;
}

/* Safari and Chrome */
@-webkit-keyframes reflip {
	0% {
		-webkit-transform:rotateX(180deg);
		color:rgb(254, 254, 254);
	}
	10% {
		-webkit-transform:rotateX(360deg);
		color:black;
	}
	90% {
		-webkit-transform:rotateX(360deg);
		color:black;
	}
    100% {
    	-webkit-transform:rotateX(540deg);
    	color:rgb(254, 254, 254);
    }
}

/* Firefox */
@-moz-keyframes reflip {
	0% {
		transform:rotateX(180deg);
		color:rgb(254, 254, 254);
	}
	10% {
		transform:rotateX(360deg);
		color:black;
	}
    90% {
    	transform:rotateX(360deg);
    	color:black;
    }
    100% {
		transform:rotateX(540deg);
		color:rgb(254, 254, 254);
	}
}

/* Internet Explorer */
@-ms-keyframes reflip {
	0% {
		-ms-transform:rotateX(180deg);
		color:rgb(254, 254, 254);
	}
	10% {
		-ms-transform:rotateX(360deg);
		color:black;
	}
	90% {
		-ms-transform:rotateX(360deg);
		color:black;
	}
    100% {
    	-ms-transform:rotateX(540deg);
		color:rgb(254, 254, 254);
    }
}

/* Opera */
@-o-keyframes reflip {
    0% {
		transform:rotateX(180deg);
		color:rgb(254, 254, 254);
	}
	10% {
		transform:rotateX(360deg);
		color:black;
	}
    90% {
    	transform:rotateX(360deg);
    	color:black;
    }
    100% {
		transform:rotateX(540deg);
		color:rgb(254, 254, 254);
	}
}

@keyframes reflip {
	0% {
		transform:rotateX(180deg);
		color:rgb(254, 254, 254);
	}
	10% {
		transform:rotateX(360deg);
		color:black;
	}
    90% {
    	transform:rotateX(360deg);
    	color:black;
    }
    100% {
		transform:rotateX(540deg);
		color:rgb(254, 254, 254);
	}
}

/* Safari and Chrome */
@-webkit-keyframes refliptwo {
	0% {
		-webkit-transform:rotateX(180deg);
		color:rgb(254, 254, 254);
	}
	10% {
		-webkit-transform:rotateX(360deg);
		color:black;
	}
	90% {
		-webkit-transform:rotateX(360deg);
		color:black;
	}
    100% {
    	-webkit-transform:rotateX(540deg);
    	color:rgb(254, 254, 254);
    }
}

/* Firefox */
@-moz-keyframes refliptwo {
	0% {
		transform:rotateX(180deg);
		color:rgb(254, 254, 254);
	}
	10% {
		transform:rotateX(360deg);
		color:black;
	}
    90% {
    	transform:rotateX(360deg);
    	color:black;
    }
    100% {
		transform:rotateX(540deg);
		color:rgb(254, 254, 254);
	}
}

/* Internet Explorer */
@-ms-keyframes refliptwo {
	0% {
		-ms-transform:rotateX(180deg);
		color:rgb(254, 254, 254);
	}
	10% {
		-ms-transform:rotateX(360deg);
		color:black;
	}
	90% {
		-ms-transform:rotateX(360deg);
		color:black;
	}
    100% {
    	-ms-transform:rotateX(540deg);
		color:rgb(254, 254, 254);
    }
}

/* Opera */
@-o-keyframes refliptwo {
    0% {
		transform:rotateX(180deg);
		color:rgb(254, 254, 254);
	}
	10% {
		transform:rotateX(360deg);
		color:black;
	}
    90% {
    	transform:rotateX(360deg);
    	color:black;
    }
    100% {
		transform:rotateX(540deg);
		color:rgb(254, 254, 254);
	}
}

@keyframes refliptwo {
	0% {
		transform:rotateX(180deg);
		color:rgb(254, 254, 254);
	}
	10% {
		transform:rotateX(360deg);
		color:black;
	}
    90% {
    	transform:rotateX(360deg);
    	color:black;
    }
    100% {
		transform:rotateX(540deg);
		color:rgb(254, 254, 254);
	}
}