.thoughts-container, .testimonials-container{
	position: absolute;
	box-sizing: border-box;
	width:80%;
	height:70%;
	left: 10%;
	top: 15%;
	background-color: rgba(0, 0, 0, 0.35);
	border: 0.2rem solid rgba(0, 0, 0, 0.85);
}

.center-the-thought{
	width: 80%;
	margin-left: 10%;

}

.thoughts-container .one-thought{
	color: rgba(255, 255, 255, 0.95);
	width: 80%;
	margin:0 auto;
	/*https://davidwalsh.name/css-vertical-center*/
	/*remember: relatively positioned elements must have a parent with a height value!*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	max-height:95%;
	overflow: auto;
	text-align: center;
	letter-spacing: 0.125rem;
	font-size: 1.25rem;
	line-height: 1.8rem;
	/*http://stackoverflow.com/questions/30125705/css-how-to-make-an-element-fade-in-and-then-fade-out*/
    -webkit-animation: fadeinout 10s linear 0s infinite;
    animation: fadeinout 10s linear 0s infinite;
}

.thoughts-container .one-thought-end{
	color: rgba(247, 247, 247, 0.95);
	-webkit-animation: resetfadeinout 10s linear forwards;
    animation: resetfadeinout 10s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,97%, 100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}

@keyframes fadeinout {
  0%,97%, 100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}

@-webkit-keyframes resetfadeinout {
  0%,97%, 100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}

@keyframes resetfadeinout {
  0%,97%, 100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}

.thoughts-container .detail-note{
	position: absolute;
	bottom:0.2rem;
	right:0.2rem;
	font-size: 0.65rem;
	color: rgba(200,200,200, 0.85);
	font-style: italic;
}