/*https://www.w3schools.com/howto/howto_css_tooltip.asp
https://www.w3schools.com/css/css_tooltip.asp*/
.tooltiptext, .ttt-alert{
    visibility: hidden;
    width: 8rem;
    background-color: #555;
    color: #fff;
    font-size:0.9rem;
    text-align: center;
    padding: 0.3rem;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;

    /* Fade in tooltip */
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.ttt-alert{
    width: 10rem;
    background-color: rgba(255, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
}

.ttt-alert span{
    display:block;
}

.ttt-alert .invalid-value{
    font-weight:600;
}

.ttt-alert ul{
    margin:0;
    list-style-position: inside;
    padding: 0;
}

.ttt-alert .close-alert{
    display:inline-block;
    cursor: pointer;
    padding:0.3rem;
    border-radius: 0.35rem;
    color:white;
    background-color:purple;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}

.ttt-alert .close-alert:hover{
    color:black;
    background-color:lime;
}

.alert-visible {
    visibility: visible;
    opacity: 1;
}

.ttt-large{
	width:10rem;
	margin-left: -5rem;
}

.ttt-bottom{
	top: 115%;
    left: 50%;
    transform: translateX(-50%);
}

.ttt-top{
	bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
}

.ttt-right{
    left:105%;
    top: 50%;
    transform: translateY(-50%);
}

/* Tooltip arrows */
.tooltiptext::after {
    content: "";
    position: absolute;
    margin-left: -0.39rem;
    border-width: 0.39rem;
    border-style: solid;
}

.ttt-alert::after {
    content: "";
    position: absolute;
    margin-left: -0.39rem;
    border-width: 0.39rem;
    border-style: solid;
}

.ttt-top::after {
	top: 100%;
    left: 50%;
    border-color: #555 transparent transparent transparent;
}

.ttt-bottom::after {
	bottom: 100%;
    left: 50%;
    border-color: transparent transparent #555 transparent;
}

.ttt-right::after {
    right: 100%;
    top: 50%;
    border-color: transparent rgba(255, 0, 0, 0.8) transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.ttt-container:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}

.ttt-container{
	/*need position relative for the container so ttt can be positioned absolutely*/
	position: relative;
}

.calc-tooltip .figures{
    display:block;
    text-align:right;

}