.word-line-centered{
	width: 100%;
	height:2.25rem;
	/*need text align center for the parent so the child inline-block elements will be horizonally centered*/
	text-align:center;
}

.word-line-centered .word-line{
	position: relative;
	width: 92.5%;
	margin: 0 auto;
	height:0;
	border-bottom: 0.2rem solid rgba(155, 155, 155, 0.9);
	/*top  = (parent height - border width) / 2*/
	top: 1.025rem;
}

.word-line-centered .wl-text{
	position: relative;
	/*top = -top of word-line top because normal position has top aligned with top of the word-line*/
	top: -1.025rem;
	display: inline-block;
	font-size:1rem;
	/*line-height = parent height*/
	line-height:2.25rem;
	padding: 0 0.45rem;
	/*must make the background color same as where the word line is located*/
	background: rgba(250, 250, 250, 1);
	border-radius: 0.45rem;
	-webkit-transition: all 0.35s ease 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 0.35s ease 0s;
	transition: all 0.35s ease 0s;
}

/*wl-ipc-form class necessary because ipc form changes color on hover, so these particular word-lines must also change background color accordingly*/
.ipc-form-container:hover .word-line-centered .wl-ipc-form{
	background-color: rgb(250, 250, 250);
}